head {
    background-color: #F0EBF1;
}

h1 {
    font-family: "Helvetica";
}

p {
    font-family: "Garamond";
    background-color: #DBBCE1
}

h2 {
    font-family: "Helvetica";
}

ol {
    font-family: "Garamond";
}